* {
    font-family: 'Street Fighter', sans-serif;
}

#principal {
    background-color: aqua;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vh;
}

#select {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vh;
}
#selectSingle {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vh;
}

#versus {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vh;
}

#fight {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vh;

}
.centro {
    height: 30em;
    width: 10em;
    background-color: black;
}
.atack {
    font-family: 'Mortal Kombat 4', sans-serif;
    font-size: 2.4em;
    border: solid black 0.08em;
    margin: 0.2em;
    background-color: rgb(143, 138, 138);
    border-radius: 6em;  
}

.defense {
    margin-bottom: -1em;
}

#winner {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vh;
}

#titulo {
    font-size: 5em;
}

.titulo {
    font-size: 3em;
}

#elige {
    font-size: 2em;
}

#start {
    font-size: 2em;
    padding: 0;
    margin: 0;
    max-width: 15em;
    border: double black 0.1em;
    border-radius: 3em;

}

.start {
    padding: 0;
    margin: 0;
}

.select2 {
    height: 40em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.personajes {
    margin-top: -20em;
}
.foto {
    max-width: 8em;
    max-height: 8em;
}
.foto3 {
    max-width: 10em;
    max-height: 30em;
}
.titulo1 {
    font-size: 2em;
    text-align: start;
}
.winner1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.winner2 {
    font-size: 5em;
}

